
#button1{
   
    background-color:gray;
    width: 1300px;
    text-align: center;
}
#first{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    flex:1

}
.flex1{
    display: flex;

}

span{
    font-size: 10px;
   font-display: relative;
   bottom:60px;
}
.definition{
    text-align: center;
    display: inline;
    flex:1
}
#apply{

    border-radius: 0%;
    padding:2px;

}

.anger{
    position: relative;
    top:70px;
    text-align:left;
    word-spacing: 50px;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
margin: 100px;
 
}
.main{
    background-image:url(../images/css.jpg);
    padding: 50px;
    font-size: 20px;
    
   
}
.flex{
    display: flex;
     text-indent: 25px;
     text-align: justify;
     font-size: 15px;
     text-align: center;
}
.orangebox1{
     height:175px;
    background-color: chocolate;
    color:aliceblue;
    flex: 1;
    width:50px;
}

    

.blackbox1{
    background-color:black ;
    color:aliceblue;
    flex: 1;
}
.orangebox2{
    background-color: chocolate;
    color: aliceblue;
    flex: 1;
}
.blackbox2{
    background-color:black ;
    color:aliceblue;
    flex: 1;
}
button{
    border-radius: 40px;
    padding: 10px;
    background-color: rgb(247, 86, 28);
}
.up{
    position: relative;
    bottom:175px;
}
  
a:hover{
    color: chartreuse;
}
a{
    text-decoration: none;
    color: aliceblue;
}


